:root {
    --blanco: rgb(211, 201, 201);
    --rojoClaro: rgb(223, 135, 76);
    --rojoOscuro: rgb(221, 75, 8);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 25%;
}

form>div {
    margin: 5px 20px;
}

form>div>input {
    width: 220px;
}

button {
    color: var(--blanco);
    background-color: var(--rojoOscuro);
    padding: 5px;
    border-radius: 10px;
    margin-top: 10px;
    transition: all 1s ease-in;
}

button:hover {
    background-color: var(--rojoClaro);

}